<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quintus.labs.datingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Introduction.IntroductionMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.Login" />

        <activity android:name=".Login.RegisterBasicInfo" />
        <activity android:name=".Matched.Matched_Activity" />
        <activity android:name=".Profile.Profile_Activity" />
        <activity android:name=".Main.ProfileCheckinMain" />
        <activity android:name=".Matched.ProfileCheckinMatched" />
        <activity android:name=".Profile.EditProfileActivity" />
        <activity android:name=".Main.MainActivity" />
        <activity android:name=".Login.RegisterGender" />
        <activity android:name=".Login.RegisterGenderPrefection" />
        <activity android:name=".Login.RegisterAge" />
        <activity android:name=".Login.RegisterHobby" />
        <activity android:name=".Profile.SettingsActivity" />
        <activity android:name=".Main.BtnLikeActivity" />
        <activity android:name=".Main.BtnDislikeActivity"></activity>
    </application>

</manifest>